:root {
  --white: #fff;
  --primary: #26bba4;
  --primary-light: rgba(38, 187, 164, 0.8);
  --secondary: #6174ff;
  --secondary-light: rgba(97, 116, 255, 0.8);
  --gray-800: #4c545c;
  --gray-600: #9eabb2;
  --gray-300: rgba(158, 171, 178, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  max-width: 1500px;
  margin: 0 auto;
}

.btn {
  box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305),
    inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  border-radius: 28px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: var(--white);
  text-decoration: none;
  transition: 0.2s ease-in;

  width: 100%;
  max-width: 227px;
  height: 56px;
}

.--btn-primary {
  background-color: var(--primary);
}

.--btn-secondary {
  background-color: var(--secondary);
}

.main-start__btn1:hover,
.download__btn1:hover {
  background-color: var(--primary-light);
  transform: translateY(2px);
}

.main-start__btn2:hover,
.download__btn2:hover {
  background-color: var(--secondary-light);
  transform: translateY(2px);
}

.title {
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: var(--gray-800);
}

.--title-lg {
  font-size: 2.875rem;
  line-height: 58px;
  letter-spacing: -0.75px;
}

.--title-md {
  font-size: 2.25rem;
  line-height: 45px;
  letter-spacing: -0.586957px;
}

.--title-sm {
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: -0.391304px;
}

.para {
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--gray-600);
}

.--para-lg {
  font-size: 1.25rem;
  letter-spacing: 0.15px;
}

.--para-md {
  font-size: 1.125rem;
  letter-spacing: 0.135px;
}

.--para-sm {
  font-size: 1rem;
  letter-spacing: 0.12px;
}

.main-start {
  background-image: url("assets/main-bg.jpg");
  background-repeat: no-repeat;
  padding-top: 128px;
}

.main-start__shape {
  display: block;
  width: 125px;
  height: 125px;
  margin: 0 auto;
}

.main-start__article {
  max-width: 730px;
  margin: 56px auto 0;
}

.main-start__title {
  margin-bottom: 16px;
}

.main-start__para {
  margin-bottom: 48px;
}

.main-start__actions {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.track {
  max-width: 730px;
  margin: 150px auto 0;
}

.track__title {
  margin-bottom: 19px;
}

.screen {
  margin-top: 80px;
  display: flex;
}

.screen__articles {
  margin-top: 80px;
  margin-left: 110px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.screen__article {
  max-width: 350px;
}

.screen__article-title {
  margin-bottom: 8px;
}

.screen__article-title,
.screen__article-para {
  text-align: left;
}

.screen__picture {
  max-width: 752px;
}

.screen__picture img {
  width: 100%;
}

.access-clipboard {
  margin-top: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.access-clipboard__article {
  max-width: 730px;
}

.access-clipboard__title {
  margin-bottom: 19px;
}

.access-clipboard__picture {
  margin-top: 111px;
  max-width: 812px;
}

.access-clipboard__picture img {
  width: 100%;
}

.workflow {
  margin-top: 100px;
}

.workflow__info {
  max-width: 730px;
  margin: 0 auto;
}

.workflow__title {
  margin-bottom: 19px;
}

.workflow__articles {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.workflow__article {
  max-width: 350px;
  text-align: center;
  height: 220px;
}

.workflow__paper {
  margin-bottom: 40px;
}

.workflow__snippets {
  margin-bottom: 48px;
}

.workflow__eye {
  margin-bottom: 48px;
}

.workflow__article-title {
  margin-bottom: 16px;
}

.brands {
  margin-top: 150px;
}

.brands__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  flex-wrap: wrap;
}

.brands__google {
  background-color: var(--gray-600);
  -webkit-mask: url(assets/google.svg) no-repeat center;
  mask: url(assets/google.svg) no-repeat center;
}

.brands__ibm {
  background-color: var(--gray-600);
  -webkit-mask: url(assets/ibm.svg) no-repeat center;
  mask: url(assets/ibm.svg) no-repeat center;
}

.brands__microsoft {
  background-color: var(--gray-600);
  -webkit-mask: url(assets/microsoft.svg) no-repeat center;
  mask: url(assets/microsoft.svg) no-repeat center;
}

.brands__hewlett {
  background-color: var(--gray-600);
  -webkit-mask: url(assets/hewlett.svg) no-repeat center;
  mask: url(assets/hewlett.svg) no-repeat center;
}

.brands__graphics {
  background-color: var(--gray-600);
  -webkit-mask: url(assets/graphics.svg) no-repeat center;
  mask: url(assets/graphics.svg) no-repeat center;
}

.download {
  margin: 150px auto 0;
  max-width: 730px;
}

.download__title {
  margin-bottom: 19px;
}

.download__actions {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.main-footer {
  padding: 40px 165px;
  margin-top: 150px;
  background-color: var(--gray-300);
  mix-blend-mode: normal;

  display: flex;
  align-items: center;
}

.main-footer__shape {
  margin-right: 135px;
}

.main-footer__links {
  display: flex;
  gap: 30px;
}

.main-footer__links-list {
  list-style: none;
}

.main-footer__links-item {
  min-width: 160px;
  margin: 6px 0;
}

.main-footer__links-item a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.135px;
  color: var(--gray-800);
}

.main-footer__links-item a:hover {
  color: var(--primary);
}

.main-footer__icons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 24px;
}

.main-footer__icon--fb {
  background-color: var(--gray-800);
  -webkit-mask: url(assets/fb.svg) no-repeat center;
  mask: url(assets/fb.svg) no-repeat center;
}

.main-footer__icon--fb {
  background-color: var(--gray-800);
  -webkit-mask: url(assets/fb.svg) no-repeat center;
  mask: url(assets/fb.svg) no-repeat center;
}

.main-footer__icon--tw {
  background-color: var(--gray-800);
  -webkit-mask: url(assets/tw.svg) no-repeat center;
  mask: url(assets/tw.svg) no-repeat center;
}

.main-footer__icon--ig {
  background-color: var(--gray-800);
  -webkit-mask: url(assets/ig.svg) no-repeat center;
  mask: url(assets/ig.svg) no-repeat center;
}

.main-footer__icon--fb:hover,
.main-footer__icon--tw:hover,
.main-footer__icon--ig:hover {
  background-color: var(--primary);
}

@media screen and (max-width: 1250px) {
  .main-footer {
    padding: 40px 100px;
  }
}

@media screen and (max-width: 1080px) {
  .main-footer {
    padding: 40px 60px;
  }
}

@media screen and (max-width: 980px) {
  .main-footer {
    padding: 40px 32px;
  }

  .main-footer__shape {
    margin-right: auto;
  }

  .main-footer__links-item {
    min-width: 140px;
  }
}

@media screen and (max-width: 850px) {
  .track {
    margin: 160px auto 0;
  }

  .screen {
    flex-direction: column;
    align-items: center;
    padding: 0 32px;
  }

  .screen__articles {
    margin-top: 56px;
    margin-left: 0;
  }

  .screen__picture {
    max-width: 400px;
    width: 100%;
    object-fit: contain;
  }

  .screen__article-title {
    margin-bottom: 10px;
  }

  .screen__article-title,
  .screen__article-para {
    text-align: center;
  }

  .access-clipboard {
    padding: 0 32px;
    margin-top: 186px;
  }

  .access-clipboard__picture {
    max-width: 600px;
    object-fit: contain;
    margin-top: 64px;
  }

  .workflow {
    padding: 0 32px;
    margin-top: 130px;
  }

  .workflow__articles {
    margin-top: 90px;
    gap: 56px;
  }

  .brands {
    margin-top: 130px;
  }

  .download {
    margin: 170px auto 0;
  }

  .main-footer {
    margin-top: 170px;
    padding: 50px 0;
    flex-direction: column;
    justify-content: center;
  }

  .main-footer__shape {
    margin: 0 0 40px;
  }

  .main-footer__shape img {
    width: 45px;
    height: 45px;
  }

  .main-footer__links {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .main-footer__links-item {
    text-align: center;
    margin: 0 0 20px;
  }

  .main-footer__icons {
    margin: 38px 0 0;
  }
}

@media screen and (max-width: 750px) {
  .--title-lg {
    font-size: 2rem;
    line-height: 40px;
    letter-spacing: -0.521739px;
  }

  .--para-lg {
    font-size: 1rem;
    line-height: 26px;
    letter-spacing: 0.12px;
  }

  .--title-md {
    font-size: 1.75rem;
    line-height: 35px;
    letter-spacing: -0.456522px;
  }

  .--para-md {
    font-size: 1rem;
    line-height: 26px;
    letter-spacing: 0.12px;
  }

  .--para-sm {
    line-height: 26px;
    letter-spacing: 0.12px;
  }

  .main-start__article,
  .track,
  .download {
    padding: 0 32px;
  }

  .track__title,
  .access-clipboard__title,
  .download__title {
    margin-bottom: 16px;
  }

  .screen {
    margin-top: 65px;
  }

  .workflow__title {
    margin-bottom: 11px;
  }

  .workflow__paper {
    margin-bottom: 40px;
  }

  .workflow__snippets,
  .workflow__eye {
    margin-bottom: 44px;
  }
}

@media screen and (max-width: 560px) {
  .main-start__actions,
  .download__actions {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .btn {
    max-width: 311px;
  }
}

@media screen and (max-width: 468px) {
  .brands__list {
    flex-direction: column;
  }
}
