:root {
  --white: #fff;
  --primary: #26bba4;
  --primary-light: rgba(38, 187, 164, 0.8);
  --secondary: #6174ff;
  --secondary-light: rgba(97, 116, 255, 0.8);
  --gray-800: #4c545c;
  --gray-600: #9eabb2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  max-width: 1500px;
  margin: 0 auto;
}

.btn {
  box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305),
    inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  border-radius: 28px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: var(--white);
  text-decoration: none;
  transition: 0.2s ease-in;

  width: 100%;
  max-width: 227px;
  height: 56px;
}

.--btn-primary {
  background-color: var(--primary);
}

.--btn-secondary {
  background-color: var(--secondary);
}

.title {
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: var(--gray-800);
}

.--title-lg {
  font-size: 2.875rem;
  line-height: 58px;
  letter-spacing: -0.75px;
}

.--title-md {
  font-size: 2.25rem;
  line-height: 45px;
  letter-spacing: -0.586957px;
}

.--title-sm {
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: -0.391304px;
}

.para {
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--gray-600);
}

.--para-lg {
  font-size: 1.25rem;
  letter-spacing: 0.15px;
}

.--para-md {
  font-size: 1.125rem;
  letter-spacing: 0.135px;
}

.--para-sm {
  font-size: 1rem;
  letter-spacing: 0.12px;
}

.main-start {
  background-image: url("assets/main-bg.jpg");
  background-repeat: no-repeat;
  padding-top: 128px;
}

.main-start__shape {
  display: block;
  width: 125px;
  height: 125px;
  margin: 0 auto;
}

.main-start__article {
  max-width: 730px;
  margin: 56px auto 0;
}

.main-start__title {
  margin-bottom: 16px;
}

.main-start__para {
  margin-bottom: 48px;
}

.main-start__actions {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.main-start__btn1:hover {
  background-color: var(--primary-light);
  transform: translateY(2px);
}

.main-start__btn2:hover {
  background-color: var(--secondary-light);
  transform: translateY(2px);
}

.track {
  max-width: 730px;
  margin: 150px auto 0;
}

.track__title {
  margin-bottom: 19px;
}

.screen {
  margin-top: 80px;
  display: flex;
}

.screen__articles {
  margin-top: 80px;
  margin-left: 110px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.screen__article {
  max-width: 350px;
}

.screen__article-title {
  margin-bottom: 8px;
}

.screen__article-title,
.screen__article-para {
  text-align: left;
}

.screen__picture {
  max-width: 752px;
}

.screen__picture img {
  width: 100%;
}

.access-clipboard {
  margin-top: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.access-clipboard__article {
  max-width: 730px;
}

.access-clipboard__title {
  margin-bottom: 19px;
}

.access-clipboard__picture {
  margin-top: 111px;
  max-width: 812px;
}

.access-clipboard__picture img {
  width: 100%;
}
